@media print {
    @page {
        margin: 2px !important;
        /* size: 80mm auto !important; */
        /* background: red !important; */
    }
    #print-zone-2,
    #print-zone {
        width: 100% !important;
        margin: 2px !important;
        /* height: auto !important; */
        /* background: red !important; */
    }

    html,
    body {
        height: auto;
        font-size: 60pt !important;
    }
}
